# Existing LocalStack instance running on the Docker host
LOCALSTACK_ENDPOINT=http://host.docker.internal:4566
AWS_DEFAULT_REGION=us-east-1
SQS_MESSAGE_STORE_TABLE=localstack-viewer-sqs-messages
VIEWER_PORT=8888
